{% block html_head_container %}
    {% include 'front/html-header.twig' %}
    {% block head %}{% endblock %}
    </head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
{% include 'front/partial/header.twig' %}

<section class="content-wrapper" id="content" role="main">
    <div class="wrapper {{sidebar_class}}">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </div>
    {% if sidebar %}
        <aside class="layout-sidebar">
            {{sidebar}}
        </aside>
    {% endif %}
</section>
{% include 'front/partial/footer.twig' %}
</body></html>