{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <h1>
            {{ __('News & Articles', 'timbersaw-theme' ) }}</h1>
        {% if categories %}
            <ul class="mPostTagFilter">
                {% for category in categories %}
                    <li>
                        <a href="{{category.link}}">
                            {{category.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}